@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { -webkit-tap-highlight-color: transparent; }
  body {
    @apply bg-zinc-950 text-white;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .pb-safe { padding-bottom: env(safe-area-inset-bottom, 0px); }
  .pt-safe { padding-top: env(safe-area-inset-top, 0px); }
}
